@model RolViewModel

@{
    ViewData["Title"] = "Borrar el Rol del Usuario";
}

<h3 class="mb-3"></h3>

<form asp-asp-controller="Rol" asp-action="RolDeleted">
    <input type="hidden" asp-for="Id" />

    <div class="form-floating mb-3">
        <input type="text" class="form-control" asp-for="Name" placeholder="Nombre del Rol" disabled>
        <label asp-for="Name">Nombre del Rol</label>
    </div>

    <button type="submit" class="btn btn-outline-danger">Borrar</button>
    <a class="btn btn-outline-secondary" asp-action="RolList" sp-controller="Product">Cancelar</a>
</form>