@* Colocar el model como una List<> *@
@model List<SupplierModel>

@{
    ViewData["Title"] = "Lista de la proveedores";
    int numero = 0;
}

<h1>@ViewData["Title"]</h1>
<a class="btn btn-outline-primary" asp-action="SupplierAdd" asp-asp-controller="Supplier">Agregar Proveedor</a>

<table class="table table-striped">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Nombre</th>
            <th scope="col">Acciones</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var p in Model)
        {
        {
            numero++;
        }
            <tr>
                <th scope="row">@numero
                </th>
                <td>@p.Name</td>
                <td>
                    @* Editar pasando el ID *@
                    <a class="btn btn-outline-info" asp-action="SupplierEdit" asp-controller="Supplier" asp-route-id="@p.Id">Editar</a>
                    
                    @* Editar pasando el ID *@
                    <a class="btn btn-outline-danger" asp-action="SupplierDeleted" asp-controller="Supplier" asp-route-id="@p.Id">Borrar</a>
                </td>
            </tr>

        }
    </tbody>
</table>