@model ChangePasswordViewModel
@{
    ViewData["Title"] = "Cambio de password";
    Layout = "../shared/_layout";
}

<h1>@ViewData["Title"]</h1>

@if (Model.MessageConfirmed is not null)
{
    <div class="alert alert-success" role="alert">
        @Model.MessageConfirmed
    </div>
}

<div class="card">
    <div class="card-body">
        <form asp-action="ChangePassword" asp-controller="User">

            @* <div asp-validation-summary="ModelOnly" class="text-danger"></div> *@

            <div class="mb-3">
                <label asp-for="OldPassword" class="form-label"></label>
                <input asp-for="OldPassword" autocomplete="off" class="form-control" />
                <span asp-validation-for="OldPassword" class="text-danger" ></span>
            </div>

            <div class="mb-3">
                <label asp-for="NewPassword" class="form-label"></label>
                <input asp-for="NewPassword" class="form-control" />
                <span asp-validation-for="NewPassword" class="text-danger" ></span>
            </div>

            <div class="mb-3">
                <label asp-for="ConfirmPassword" class="form-label"></label>
                <input asp-for="ConfirmPassword" class="form-control" />
                <span asp-validation-for="ConfirmPassword" class="text-danger" ></span>
            </div>

            <div class="mb-3">
                <label asp-for="HelpPassword" class="form-label"></label>
                <input asp-for="HelpPassword" class="form-control" />
                <span asp-validation-for="HelpPassword" class="text-danger" ></span>
            </div>


            <button class="btn btn-outline-info">Cambiar Password</button>
            <a class="btn btn-outline-secundary" asp-action="Index" asp-controller="Home">Cancelar</a>

        </form>
    <div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial"/>
}