@model ProductModel

@{
    ViewData["Title"] = "Alta de Producto";
}

<h1>Alta de Producto</h1>

<form asp-action="ProductAdd" asp-controller="Product">

    <div class="form-floating mb-3">
        <input type="text" class="form-control" asp-for="Name" placeholder="Nombre del producto">
        <label asp-for="Name">Nombre del Producto</label>
    </div>
    <div class="form-floating mb-3">
        <input type="text" class="form-control" asp-for="Quantity" placeholder="Cantidad del Producto">
        <label asp-for="Quantity">Cantidad del Producto</label>
    </div>
    <div class="form-floating mb-3">
        <input type="text" class="form-control" asp-for="Price" placeholder="Precio del Producto" aria-label="Amount (to the nearest dollar)">
        <label asp-for="Price">Precio del Producto</label>
    </div>
    <div class="form-floating mb-3">
        <input type="textarea" class="form-control" asp-for="Description" rows="5">
        <label asp-for="Description">Descripcion</label>
    </div>
    <select class="form-select mb-3" asp-for="CategoriaId" asp-items="@Model.ListaCategorias" >
        <option>Seleccionar categoria</option>
    </select>

    <button class="btn btn-outline-primary">Guardar</button>
    <a class="btn btn-outline-secundary" asp-action="ProductList" asp-controller="Product">Regresar</a>
</form>
