@model CategoryProductModel

@{
    ViewData["Title"] = "Borrar la categoría del producto";
}


<h3 class="mb-3"></h3>

<form asp-asp-controller="Category" asp-action="CategoryDeleted">

    <div class="card" style="width: 18rem;">
        <div class="card-body">
            <h5 class="card-title">Información de la Categoria</h5>
            <h6 class="card-subtitle mb-2 text-body-secondary">¿Está seguro que desea borrar la categoría del Producto?</h6>
            <p class="card-text">Categoria: @Model.Name</p>
        </div>
    </div>


    <input type="hidden" asp-for="Id" />
    <button type="submit" class="btn btn-danger">Borrar</button>
    <a class="btn btn-secondary" asp-action="CategoryList" asp-controller="Category">Cancelar</a>
</form>